@model HimalayanOrganicFarm.Models.Designation;
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <style>
        .cards {
            margin-bottom: 20px;
            border: solid green 1px;
        }
        .deg{
            font-family: cursive;
        }
        .line{
            border: solid #6cbe03 1px;
        }
    </style>
    <hr class="line" />
    <h2 class="text-center text-success deg " style="margin-top:20px">Details of Designation</h2>
    <div class="row justify-content-center mt-5">
        <div class="col-sm-8">
            <div class="card cards">
                <div class="card-header">
                    <h1 class="text-info text-capitalize font-weight-bolder text-center">@Model.Title</h1>
                </div>

                <div class="card-body text-center">
                    <h4 class="form-control font-weight-bolder text-capitalize"><span class="text-info">Designation ID</span>:&nbsp;@Model.Id</h4>
                    <h4 class="form-control font-weight-bolder text-capitalize"><span class="text-info">Title</span>:&nbsp;@Model.Title</h4>
                    <h4 class="form-control font-weight-bolder text-capitalize"><span class="text-info">Description</span>:&nbsp;@Model.description</h4>
                </div>
                <div class="card-footer text-center">
                    <a class="btn btn-warning" asp-controller="Designation" asp-action="Index">Back</a>
                    <a class="btn btn-info" asp-controller="Department" asp-action="edit" asp-route-id="@Model.Id">Edit</a>
                    <a class="btn btn-danger" as-action="delete" asp-route-id="@Model.Id">Delete</a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>